/* form {
    outline: 2px deeppink dashed;
    margin: 0px 5%;
    font-size: large;
    text-align: center;
} */

.formContainer {
    width: max(60%, 600px);
    margin: auto;
    text-align: left;
}

.formlabel {
    text-align: left;
}

.textInput {
    padding: 10px;
    margin: 10px 0px;
    border: 0;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: inherit;
    max-width: 500px;
    width: 80%;
    font-size: medium;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}