.profileContainer {
    width: max(70%, 600px);
    margin: auto;
    height: auto;
}
.card-body {
color: #858796;
}
.form-label{
    color: #2fe5b2;
}
.btn-primary{
    background-color: #2fe5b2;
    height: auto;
}