<!DOCTYPE html>
<html lang="en">

    <head>
        {% block head %}
        <link rel="icon" type="image/x-icon" href="../static/images/logo-blue.png">
        <link rel="stylesheet" href="static/css/main2.css" type="text/css"charset="utf-8">
        <script src="static/js/jquery-3.6.0.min.js"></script>

        <title>{% block title%}{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        <div id="viewport">
            <!-- Sidebar -->
            <div id="sidebar">
              <header>
                <a href="#">My App</a>
              </header>
              <ul class="nav">
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-link"></i> Shortcuts
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-widgets"></i> Overview
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-calendar"></i> Events
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-info-outline"></i> About
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-settings"></i> Services
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="zmdi zmdi-comment-more"></i> Contact
                  </a>
                </li>
              </ul>
            </div>
            <!-- Content -->
            <div id="content">
              <nav class="navbar navbar-default">

              </nav>
            </div>
          </div>
        <!-- <div id="header" class="card">
            {% block header %}
                    
            {% if current_user.is_authenticated %}
                <button class="btn-primary btn-primary-hover" type="button" onclick="location.href='/logout'">Logout</button>
            {% else %}
                <button class="btn-primary btn-primary-hover" type="button" onclick="location.href='/register'">Register</button>
                <button class="btn-primary btn-primary-hover" type="button" onclick="location.href='/login'">Login</button>
            {% endif %}

            {% endblock%}
        </div> -->

        <div id="mainContent" class="center card">
            {% if current_user.is_authenticated %}
                <h1>Hello {{ current_user.username }}</h1>
            {% endif %}

            {% block main %}
            
            {% endblock %}
        </div>
        <div class="center" id="messageBox">
            {% with messages = get_flashed_messages() %}  
                {% if messages %}  
                    {% for message in messages %}  
                        <div class="flashedMessage">
                            {{ message }}
                        </div>
                    {% endfor %}  
                {% endif %}  
            {% endwith %} 
        </div>

    </body>
</html>
