{% extends"base.html" %}
{% block title%}Project Dashboard{% endblock %} 

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/projects.css">

{% endblock %}

{% block header %}
{{super()}}
{% endblock %}

{% block main%}
{{super()}}

<div class="">
    <div class="noCenter">
        <h6> {{project.name}}</h6>
        <!-- TODO: Put the data on this page
        - core project details
        - milestones
        - expenses
        - suggestions
        - team members 
        - etc.
        -->
        <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">                       
                <h4>Project Manager </h4>
</p></div></div>

<br>
<h3 class="text-dark mb-4">Progress Bar</h3>
<div class="centering">
<div class="progress-card">
<!-- progressbar -->
</div></div>
<br>
<h3 class="text-dark mb-4">Team</h3>

        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Team Members</p>
            </div>

                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Technologies</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in project_members %}
                                <tr>
                                    <td><img class="rounded-circle me-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">{{user.username}}</td>
                                    <td>role</td>
                                    <td>number</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <br>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Technologies</p>
            </div>
            <div class="card-body">
                <div class="">
                    <br>
                    <ol>
                        {% for technology in project_technologies %}
                        <li>{{technology.name}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
        <br>

    </div>
    <div class="col-12 py-3">
        <a href="/edit_project/{{project.id}}"><button class="glow-on-hover" type="button">Edit Project</button></a>
        <a href="/add_user/{{project.id}}"><button class="glow-on-hover" type="button">Add Users</button></a>
        <a href="/project_technology/{{project.id}}"><button class="glow-on-hover" type="button">Add Technologies</button></a>
        <div class="btn-group"></div>
    </div>
</div>
    
{% endblock %}
