{% extends"base.html" %}
{% block title%}Project{% endblock %} 

{% block head %}
{{super()}}
{% endblock %}

{% block header %}
{{super()}}
{% endblock %}

{% block main%}
{{super()}}

<div class="">
    <div class="noCenter">
        <h1>Project: {{project.id}}</h1>
        <h1>Project: {{project.name}}</h1>
        <!-- TODO: Put the data on this page
        - core project details
        - milestones
        - expenses
        - suggestions
        - team members 
        - etc.
        -->
    </div>

    <div>
        <a href="/edit_project/{{project.id}}"><h3>Edit Project</h3></a>
        <a href="/add_users/{{project.id}}"><h3>Add Users</h3></a>
        <a href="/project_technology/{{project.id}}"><h3>Add Technologies</h3></a>
    </div>
</div>
    
{% endblock %}
